{% extends 'base/streaming-transition-main.html' %}

{% block content %}

<div class="header">
    <h1>Apartment Details</h1>
</div>

<div class="tableHeader">
    <h2>{{ apartment.apartment_number }} {{ apartment.building }}</h2>
</div>
<ul class="detailContainer">
    <li>
        <p>Complete: {{ apartment.complete }}</p>
        <p>Date Completed: {{ apartment.date_completed }}</p>
    </li>
</ul>

<div class="tableHeader">
    <h2>Devices</h2>
</div>
<ul class="detailContainer">
    {% for device in devices %}
    <li>
        <p>{{ device.device_type }} - {{ device.model }}</p>
        <p>Built In: {{ device.built_in }}</p>
        <p>Smart Device: {{ device.smart_device }}</p>
        {% if device.recommendation %}
            <p>Recommendations:</p>
            <p>{{ device.recommendation }}</p>
        {% endif %}
    </li>
    {% empty %}
    <li>No devices found.</li>
    {% endfor %}
    <li class="detailLink"><a href="{% url 'device-form' apartment.id %}">+ Add Device</a></li>
</ul>

<div class="tableHeader">
    <h2>Visits</h2>
</div>
<ul class="detailContainer">
    {% for visit in visits %}
    <li>
        <p>Visit Date: {{ visit.date }} | {{ visit.time }}</p>
        <p>Technician: {{ visit.technician }}</p>
        {% if visit.comment %}
            <p>Comments:</p>
            <p>{{ visit.comment }}</p>
        {% endif %}
        {% if visit.time_completed %}
            <p>Completed: {{ visit.time_completed }}</p>
        {% else %}
            <div class="rowItems">
                <p>Completed: False</p>
                <button class="complete-button" data-visit-id="{{ visit.id }}">Mark Complete</button>
            </div>
            
        {% endif %}
    </li>
    {% empty %}
    <li>No visits found.</li>
    {% endfor %}
    <li class="detailLink"><a href="{% url 'visit-form' apartment.id %}">+ Schedule Visit</a></li>
</ul>
<br>

{% include 'base/footer.html' %}

<script>
    const csrf = "{{ csrf_token }}";

    window.onload = function() {
        var buttons = document.querySelectorAll('.complete-button');
        buttons.forEach(function(button) {
            button.addEventListener('click', function() {
                updateData(button, 
                '/streaming-transition/complete-visit-check/', 
                csrf);
            });
        });
    }
</script>

{% endblock %}

