{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/streaming-transition-stylesheet.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>Streaming Transition</title>
</head>
<body>

    <div class="dashboardContainer">
        <h1>Welcome! {{ username }}</h1>
        <p>SELCO Stream Transition Progress: {{ percent_completed }}%</p>
        <div class="progressBar">
            <div style="width: {{ percent_completed }}%;" class="progressFill"></div>
        </div>
    </div>

    <div class="linkContainer">
        <div class="row1">
            <a href="{% url 'uncomplete' %}" class="btnLink">Uncompleted</a>
            <a href="{% url 'complete' %}" class="btnLink">completed</a>
        </div>
        <div class="row2">
            <a href="{% url 'upcoming' %}" class="btnLink">Upcoming Visits</a>
            <a href="{% url 'visit-home-form' %}" class="btnLink">Schedule Visit</a>
        </div>
        <div class="row3">
            <form>
                <input type="text" placeholder="Search Apt." name="search" class="searchBar">
                <input type="submit" value="Search" class="searchBtn">
            </form>
        </div>
    </div>

    {% include 'base/footer.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
        });
    </script>

</body>