{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/streaming-transition-stylesheet.css' %}">
    <title>Streaming Transition</title>
</head>
<body>
    <a href="{% url 'streaming-transition-home' %}" class="btnLink btnBack">Back</a>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/streaming-transition.js' %}"></script>
</body>
</html>