{% include 'base/streaming-transition-main.html' %}

{% block content %}

<div class="header">
    <h1>Uncompleted Apartments</h1>
</div>

<div class="tableHeader">
    <h2>East Apartments</h2>
</div>

<table>
    <thead>
        <tr>
            <th>Apt.</th>
            <th>Schedule</th>
            <th>Details</th>
            <th>Complete</th>
        </tr>
    </thead>
    <tbody>
        {% for apartment in east_apartments %}
        <tr>
            <td>{{ apartment.apartment_number }}</td>
            <td>
                <button class="schedule-button" data-apartment-id="{{ apartment.id }}">
                    Schedule
                </button>
            </td>
            <td><a href="{% url 'apartment' pk=apartment.id %}">Details</a></td>
            <td>
                <button class="complete-button" data-apartment-id="{{ apartment.id }}">
                    Complete
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="tableHeader">
    <h2>West Apartments</h2>
</div> 

<table>    
    <thead>
        <tr>
            <th>Apt.</th>
            <th>Schedule</th>
            <th>Details</th>
            <th>Complete</th>
        </tr>
    </thead>
    <tbody>
        {% for apartment in west_apartments %}
        <tr>
            <td>{{ apartment.apartment_number }}</td>
            <td>
                <button class="schedule-button" data-apartment-id="{{ apartment.id }}">
                    Schedule
                </button>
            </td>
            <td><a href="{% url 'apartment' pk=apartment.id %}">Details</a></td>
            <td>
                <button class="complete-button" data-apartment-id="{{ apartment.id }}">
                    Complete
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'base/footer.html' %}

{% endblock %}

<script>
    const csrf = "{{ csrf_token }}";

    window.onload = function() {
        var buttons = document.querySelectorAll('.complete-button');
        buttons.forEach(function(button) {
            button.addEventListener('click', function() {
                updateData(button, 
                '/streaming-transition/complete-apartment-check/', 
                csrf);
            });
        });
    }
</script>